* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Tahoma;
    background-color: #ddd;
}
.download {
    border: 1px solid #1c1e21;
    border-radius: 50px;
    color: #1c1e21;
    overflow: hidden;
    padding: 16px 28px;
    width: 200px;
    height: 60px;
    margin: 50px auto;
    position: relative;
    transition: .5s;
    transition-delay: .2s;
    z-index: 1;
    background-color: #25d366;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    letter-spacing: 1px;
}
.download::before {
    background-color: #1c1e21;
    border-radius: 50%;
    content: '';
    height: 167px;
    min-width: 167px;
    position: absolute;
    top: 0;
    transform: scale(1) translateY(67px);
    transition: 1s;
    width: 100%;
    z-index: -1;
}
.download:hover {
    background-color: #1c1e21;
    color: #fff;
    border-color: #fff;
}
.download:hover::before {
    transform: scale(1.5) translateY(0);
}
.download:hover i {
    animation: up-down 0.3s infinite alternate;
}
@keyframes up-down {
    100% {
      transform: translateY(-3px);
    }
  }